{
  "extends": ["./.config/.eslintrc", "@volkovlabs/eslint-config"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": "latest",
    "project": "./tsconfig.json",
    "sourceType": "module"
  }
}
