# Configuration files
jest-setup.js
jest.config.js
webpack.config.ts

# Development folders
coverage/
cypress/
dist/

# Servers
server-json/
server-mysql/
server-pg/

__mocks__

# Playwright tests
playwright.config.ts
test/
